@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light & Dark Theme Variables */
:root {
  --background: 210 40% 98%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 0 0% 0%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;

  /* Custom theme variables */
  --color-main: oklch(76.89% 0.139164 219.13);
  --color-background: oklch(94.61% 0.043 211.12);
  --color-secondary-background: oklch(100% 0 0);
  --color-foreground: oklch(0% 0 0);
  --color-main-foreground: oklch(0% 0 0);
  --color-border: #000000;
  --color-overlay: oklch(0% 0 0 / 0.8);
  --color-ring: oklch(0% 0 0);
  --color-chart-1: #00c8f0;
  --color-chart-2: #ff7a05;
  --color-chart-3: #7a83ff;
  --color-chart-4: #ff4d50;
  --color-chart-5: #facc00;
  --shadow-shadow: 4px 4px 0px 0px #000000;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 0 0% 0%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;

  /* Custom dark theme variables */
  --color-main: oklch(64.37% 0.1162 218.75);
  --color-background: oklch(27.11% 0.0303 225.38);
  --color-secondary-background: oklch(23.93% 0 0);
  --color-foreground: oklch(92.49% 0 0);
  --color-main-foreground: oklch(0% 0 0);
  --color-border: #000000;
  --color-ring: oklch(100% 0 0);
  --color-chart-1: #009dbd;
  --color-chart-2: #eb6d00;
  --color-chart-3: #7a83ff;
  --color-chart-4: #ff6669;
  --color-chart-5: #e0b700;
}

@layer base {
  body {
    @apply bg-background text-foreground font-medium;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}
